.heading{
    color: rgba(233, 236, 239, .5);
    margin-top: -2%;
}
.card{
    background-color:#222e3c;
    color: white;
    border-radius: 10px;
    margin-top: 7%;
    width: 100%;
    height: 100%;
}
.panel {
    /* for text on pannel */
    margin-top: 27px !important;
    border: #ffffff solid 1px;

  }
  
  .panel-body {
    padding-top: 30px;
    padding-bottom:10px ;
    border: #ffffff solid 1px;

  }
  .text-on-pannel {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
    border: 1px solid #337ab7;
    border-radius: 8px;
  }
  button{
    background-color: #6c767d;
    font-weight: bold;
    color: black;
    width:100%;
    height:70px;

}