<span class="d-flex justify-content-center  heading fs-1">Stock</span>
<div class="container form">
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5 bi bi-arrow-up style-button bare"  (click)="openDialog()">Bon d'entrée</button>
        <button class="btn btn-lg mx-5 bi bi-arrow-down style-button bare" routerLink="">Bon de sortie</button>
    </div>
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5 bi bi-list-check style-button bare"  (click)="opendialog1()">Liste des bons d'entré</button>
        <button class="btn btn-lg mx-5 bi bi-list-check style-button bare" >Liste des bons sortie</button>
    </div>
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5 bi bi-boxes style-button bare">Stock Disponible</button>
        <button class="btn btn-lg mx-5 bi bi-arrow-repeat style-button bare">RAZ Quantité Stock</button>
    </div>