<span class="d-flex justify-content-center  heading fs-1">Fiche de Parametres</span>

<div class="box container">
    <div class="card px-3 pt-3">
        <!-- News block -->
        <div class=" d-flex justify-content-center">
<table class="table table-striped table-dark">
  <thead>
    <tr>
        <td><button type="button" class="bi bi-keyboard btn ms-1 style-button" (click)="openDialog()">Clavier</button></td>
        <td><button type="button" class="bi bi-file-earmark-plus-fill btn ms-1 style-button">Rèindexation des fichiers</button></td>
        <td><button type="button" class="bi bi-trash3-fill btn ms-1 style-button">Supprimer Mot de passe </button></td>
        <td><button type="button" class="bi bi-box-arrow-in-down btn ms-1 style-button">MAJ structure</button></td>
        <td><button type="button" class="bi bi-x-circle-fill btn ms-1 style-button">HCrèationSilnexistant</button></td>
        <td><button type="button" class="bi bi-files btn ms-1 style-button">Entete Facture</button></td>
    
    </tr>
  </thead>
  <tbody>
    <tr>
       </tr>
    <tr colspan="6">
      <td colspan="3"><div class="input-group mt-3">
        <div class="input-group-prepend">
              <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Entete 3 :</span>
              </div>
            <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
         </div></td>
      
    </tr>
    <tr colspan="6">
        <td colspan="3"><div class="input-group mt-3">
          <div class="input-group-prepend">
                <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Entete 3 :</span>
                </div>
              <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
           </div></td>
        
      </tr>
      <tr colspan="6">
        <td colspan="3"><div class="input-group mt-3">
          <div class="input-group-prepend">
                <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Entete 3 :</span>
                </div>
              <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
           </div></td>
        
      </tr>
      <tr colspan="6">
        <td colspan="3"><div class="input-group mt-3">
          <div class="input-group-prepend">
                <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Base page 1 :</span>
                </div>
              <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
           </div></td>
        
      </tr>
      <tr colspan="6">
        <td colspan="3"><div class="input-group mt-3">
          <div class="input-group-prepend">
                <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Base page 2 :</span>
                </div>
              <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
           </div></td>
        
      </tr>
    <tr>
      <td><div class="input-group mt-3">
        <div class="input-group-prepend">
              <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Code PV :</span>
              </div>
            <input type="number" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
         </div>
        </td>
      <td><div class="input-group mt-3">
        <div class="input-group-prepend">
              <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Masque Qte :</span>
              </div>
            <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
         </div></td>
      <td><div class="input-group mt-3">
        <div class="input-group-prepend">
              <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">N°Com AFFicheur:</span>
              </div>
            <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
         </div></td>
         <td><div class="input-group mt-3">
            <div class="input-group-prepend">
                  <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">N°COM TRE :</span>
                  </div>
                <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
             </div></td>
             <td><div class="input-group mt-3">
                <div class="input-group-prepend">
                      <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Taux TVA :</span>
                      </div>
                    <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                 </div></td>
                 <td><div class="input-group mt-3">
                    <div class="input-group-prepend">
                          <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Heure Fermeture</span>
                          </div>
                        <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                     </div></td>
    </tr>
    <tr> 
        <td><div class="input-group mt-3">
            <div class="input-group-prepend">
                  <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Timbre :</span>
                  </div>
                <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
             </div></td>
             <td><div class="input-group mt-3">
                <div class="input-group-prepend">
                      <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Nomber Décimal :</span>
                      </div>
                    <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                 </div></td>
                 <td colspan="4">
                    <fieldset class="scheduler-border">
                     
                            <legend class="scheduler-border">Start Time</legend>
                            <div class="d-flex justify-content-around" ><br>
                            <div class="control-group">
                                <label class="control-label input-label" for="startTime1">Montant pour 1 point :</label>
                                <div class="controls bootstrap-timepicker">
                                    <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="startTime1">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label input-label" for="startTime2">Nbre point min :</label>
                                <div class="controls bootstrap-timepicker">
                                    <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="startTime2">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label input-label" for="startTime3">Val point :</label>
                                <div class="controls bootstrap-timepicker">
                                    <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="startTime3">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                 </td>

    </tr>
    <tr>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Afficheur</strong></h3>
                    <p-toggleButton  onLabel="1" offLabel="2" onIcon=" bi-1-square" offIcon="bi bi-2-square" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Offre Rap Finance</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Table Obligatoire</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Duplicate Ticket </strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Catégorie</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon=" bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Logo</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Ticket Obligatoire</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-1-square" offIcon="bi bi-2-square" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Talon</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Fiche Client</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase"> TVA </strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Aff Retour Rap</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Code Wifi</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Pager</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-1-square" offIcon="bi bi-2-square" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Rupture Ticket</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Offre Article</strong></h3>
                    <p-toggleButton  onLabel="Oui" offLabel="Non" onIcon="bi-hand-thumbs-up" offIcon="bi bi-hand-thumbs-down" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Rapport Financie</strong></h3>
                    <p-toggleButton  onLabel="Cumulé" offLabel="Par Caisse" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Tick Balance</strong></h3>
                    <p-toggleButton  onLabel="Article" offLabel="Ticket" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
        <td>
            <div class="container">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h3 class="text-on-pannel text-primary"><strong class="text-uppercase">Balance</strong></h3>
                    <p-toggleButton  onLabel="Dibal" offLabel="Suprema" [style]="{ width: '10em' }"></p-toggleButton></div>
                </div>
                <div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="langage">
            <label class="form-check-label" for="langage">Langage Arabe</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="note">
            <label class="form-check-label" for="note">Note aprés Commande</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="client">
            <label class="form-check-label" for="client">Pas de creation client</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="detailclient">
            <label class="form-check-label" for="detailclient">Pas de detaille Client sur Ticket</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="codedepot">
            <label class="form-check-label" for="codedepot">Code depot Non Partagè</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="pasdeticket">
            <label class="form-check-label" for="pasdeticket">Pas de Ticket apres note </label>
          </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="cumul">
            <label class="form-check-label" for="cumul">Pas de Cumul Qte sur la note</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="pasdecumulsurticket">
            <label class="form-check-label" for="pasdecumulsurticket">Pas de Cumul qte sur ticket</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="Modif">
            <label class="form-check-label" for="Modif">Modif, Designation-Qte Vente</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="impresion">
            <label class="form-check-label" for="impresion">Impression pour carte Crèdit </label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="separation">
            <label class="form-check-label" for="separation">Sèparation Article Talon</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="rapport">
            <label class="form-check-label" for="rapport">Rapport Sans Valeur</label>
          </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="stock">
            <label class="form-check-label" for="stock">Stock terme Matière Première</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="Imp">
            <label class="form-check-label" for="Imp">Imp CAB après vente</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="ModiRetour">
            <label class="form-check-label" for="ModiRetour">Modif Retour Article</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="pasdecommande">
            <label class="form-check-label" for="pasdecommande">Pas de Commande aprés Note</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="ecran">
            <label class="form-check-label" for="ecran">Gestion Ecran de commande</label>
          </div>
        </td>
        <td>
            <div class="form-check form-switch  d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="codeabare">
            <label class="form-check-label" for="codeabare">Code A Barre Ticket</label>
          </div>
        </td>
    </tr>


  </tbody>
</table>
    
</div>
<div class="mb-5 mt-2">
    <label for="formFileLg" class="form-label">Sélection Logo</label>
    <input class="form-control form-control-lg" id="formFileLg" type="file">
  </div>

  <div class="btn-group mb-5 d-flex justify-content-around"  role="group" aria-label="Basic outlined example">
    <button type="button" class="bi bi-trash-fill btn ms-1 style-button">Supprimer</button>
    <button type="button" class="bi bi-arrow-repeat btn ms-1 style-button">Modifier</button>
  </div>
</div>
</div>
<div *ngIf="clicker">
  <app-keyboard></app-keyboard>
</div>