<span class="d-flex justify-content-center  heading fs-1">Rapport Périodique</span>
<div class="box container">
    <div class="card px-3 pt-3">
        <div class="container form">
            <div class="debuit">
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                          <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Debuit :</span>
                          </div>
                        <input name="code_paiment" type="date" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                     </div>
                     <div class="input-group mt-3">
                        <div class="input-group-prepend">
                              <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Fin :</span>
                              </div>
                            <input name="code_paiment" type="date" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                         </div>
            </div>
            <div class="d-flex my-2">
                
                <button class="btn btn-lg mx-5 bi bi-arrow-up style-button bare">Rapport Financier</button>
                <button class="btn btn-lg mx-5 bi bi-arrow-down style-button bare">Rapport par Article</button>
            </div>
            <div class="d-flex my-2">
                <button class="btn btn-lg mx-5 bi bi-list-check style-button bare">Rapport Group</button>
                <button class="btn btn-lg mx-5 bi bi-list-check style-button bare">Rapport par Heure</button>
            </div>
            <div class="d-flex my-2">
                <button class="btn btn-lg mx-5 bi bi-boxes style-button bare">Rapport par Caissier/article</button>
                <button class="btn btn-lg mx-5 bi bi-arrow-repeat style-button bare">Liste des Tickets</button>
            </div>
            <div class="d-flex my-2">
                <button class="btn btn-lg mx-5 bi bi-arrow-down-up style-button bare">Transfert des ventes vers Serveur</button>
                <button class="btn btn-lg mx-5 bi bi-upc style-button bare">Rapport retour par article</button>
            </div>
            <div class="d-flex my-2">
                <button class="btn btn-lg mx-5 bi bi-arrow-down-up style-button bare">Rapport par client Admission</button>
                <button class="btn btn-lg mx-5 bi bi-upc style-button bare">Remise a Zero du Rapport périodique</button>
            </div>
            <div class="d-flex my-2">
                <button class="btn btn-lg mx-5 bi bi-arrow-down-up style-button bare">Motif des Retours</button>
                <button class="btn btn-lg mx-5 bi bi-upc style-button bare">Motif des Prélèvements</button>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-lg mx-5 bi bi-upc style-button bare">Fermer</button>

            </div>
    </div>

</div>
