<span class="d-flex justify-content-center  heading fs-1">Article</span>
<div class="box container">
    <div class="card px-3 pt-3">
        <!-- News block -->
        <div class=" d-flex justify-content-center">
          <!-- Featured image -->
          <div class="hover-overlay shadow-1-strong ripple d rounded-5 mb-4" data-mdb-ripple-color="light">
            <div class="inputAria">
                <div>
                    
                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                          <span class="input-group-text bg" style="background-color: #6c767d;" id="inputGroup-sizing-default">Code Produit</span>
                          </div>
                        <input type="text" style="background-color: #6c767d;" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                     </div>
                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="background-color: #6c767d;" id="inputGroup-sizing-default">Designation</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" style="background-color: #6c767d;" aria-describedby="inputGroup-sizing-default">
                  </div>
                </div>
             
          </div>
          <hr />
          <div class="d-flex ">
            
          <select class="custom-select" data-mdb-select-init>
            <option selected disabled>Goup</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
            <option value="8">Eight</option>
          </select>
          <span  class="bi bi-plus-square-fill fs-1 m-1 " style="background-color: #6c767d;" ></span>

          <select class="custom-select " data-mdb-select-init>
            <option selected disabled>Sous Group</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
            <option value="8">Eight</option>
          </select>
          </div>
          <hr />
          <div class="d-flex ">
            
          <select class="custom-select " data-mdb-select-init>
            <option selected disabled>Famille</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
            <option value="8">Eight</option>
          </select>
          <span  class="bi bi-plus-square-fill fs-1 m-1"></span>

          <select class="custom-select " data-mdb-select-init>
            <option selected disabled>Sous Famille</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
            <option value="6">Six</option>
            <option value="7">Seven</option>
            <option value="8">Eight</option>
          </select>
          </div>
      
          <hr />
          <div class="">
            <div class="Prix-vente d-flex justify-content-around m-4">
              <div class="input-group m-3 ">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default" style="background-color: #6c767d;" >Prix De Vente</span>
                </div>
                <input type="number" class="form-control" aria-label="Default" style="background-color: #6c767d;"  aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group m-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default" style="background-color: #6c767d;" >Prix De Vente 2</span>
                </div>
                <input type="number" class="form-control" aria-label="Default" style="background-color: #6c767d;"  aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group m-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default" style="background-color: #6c767d;" >Commentarie</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" style="background-color: #6c767d;"  aria-describedby="inputGroup-sizing-default">
              </div>
            </div>
            <div>
        
  
              
            <select class="custom-select mb-5 " data-mdb-select-init>
                <option selected disabled>TVA</option>
                <option value="1">One</option>
                <option value="2">Two</option>
            
                <option value="8">Eight</option>
              </select>
            </div>
          </div>
         
          <!-- News -->
       <hr />
       
      <div class="d-flex justify-content-around">
        <div class=" mt-3">
            <select class="custom-select " data-mdb-select-init>
                <option selected disabled>Selct impriment</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
                <option value="6">Six</option>
                <option value="7">Seven</option>
                <option value="8">Eight</option>
              </select>
        
          <button class="bi bi-printer-fill btn btn-outline-primary m-2">Imprimenter</button>
        </div>
      <div class=" ">
        <div class="mt-2">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
               <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>
              
                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>
              
                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>

                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck4">Checkbox 3</label>
              </div>
        </div>
        <div class="mt-2">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck5">Checkbox 1</label>
              
                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck6">Checkbox 2</label>
              
                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck7">Checkbox 3</label>
                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck8">Checkbox 3</label>
              </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="btn-group footer d-flex justify-content-around"  role="group" aria-label="Basic outlined example">
        <button type="button" class="bi bi-info-circle-fill btn ms-1 style-button">Liste Article</button>
        <button type="button" class="bi bi-floppy2-fill btn ms-1 style-button" (click)="onSubmit()">Enregister</button>
        <button type="button" class="bi bi-keyboard-fill btn ms-1 style-button" (click)="openDialog()">Clavier</button>
        <button type="button" class="bi bi-trash-fill btn ms-1 style-button">Supprimer</button>
        <button type="button" class="bi bi-x-circle-fill btn ms-1 style-button">fermer</button></div>
</div>
        </div>
<div *ngIf="clicker">
    <app-keyboard></app-keyboard>
</div>