<span class="d-flex justify-content-center  heading fs-1">Lecture</span>
<div class="container form">
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5 style-button bare"(click)="fetchAndDisplayTotals()">Rapport financier</button>
        <button class="btn btn-lg mx-5  style-button bare"(click)="showTicketTotals()">Rapport par caissier</button>
    </div>
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5   style-button bare"(click)="openDialog4()">Rapport groupe</button>
        <button class="btn btn-lg mx-5   style-button bare"(click)="openDialog2()">Rapport par article</button>
    </div>
   
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5  style-button bare"(click)="openDialog8()">Rapport par caissier/article</button>
        <button class="btn btn-lg mx-5  style-button bare"(click)="openDialog5()">Rapport retour par article</button>
    </div>
    <div class="d-flex my-2">
        <button class="btn btn-lg mx-5  style-button bare"(click)="openDialog()">Rapport par heure </button>
        <button class="btn btn-lg mx-5  style-button bare"(click)="openDialog3()">Rapport par client </button>
    </div>
    
    
</div>