<span class="d-flex justify-content-center heading fs-1">Home</span>
<div class="d-flex " >   
  <form class="container d-flex align-items-center justify-content-center"> 
    <div class="group">
      <div class="input-group">
        <span class="input-group-text" id="inputGroup-sizing-default"><i class="bi bi-shield-lock-fill"></i></span>
        <input type="password" placeholder="password" class="form-control input" value={{password}}  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="submit()">Login</button>
    
    <div class="simple-keyboard"></div>
  </form>
  </div>